@import "tailwindcss";

@theme {
  --color-surface-base: #121212;
  --color-surface-1: rgb(36, 36, 36);
  --color-surface-2: rgb(46, 46, 46);
  --color-surface-3: rgb(56, 56, 56);

  --color-success: #32a852;
  --color-success-hover: #289640;

  --color-text-primary: oklch(0.96 0.05 264);
  --color-text-secondary: oklch(0.76 0.05 264);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface-base);
  color: var(--color-text-primary);
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}