@import "tailwindcss";

:root {
   --color-surface-base: #000000;
   --color-surface-1: #111214;
   --color-surface-2: #000000;
   --color-surface-3: rgba(207, 207, 207, 0.342);

   --color-success: #32a852;
   --color-success-hover: #289640;

   --color-text-primary: #e6e6e6;
   --color-text-secondary: rgba(255, 255, 255, 0.6);
}

* {
   box-sizing: border-box;
}

html {
   font-family: "Inter", "Roboto", sans-serif;
   scroll-behavior: smooth;
}

body {
   margin: 0;
   background-color: var(--color-surface-base);
   color: var(--color-text-primary);
   min-height: 100vh;
}